In [94]:
import pandas as pd

In [95]:
data = pd.read_csv('data_to_tasas.csv')
data = data.drop(columns=['Unnamed: 0'])
data

,region_Def,Nombre_Departamento_Def,Nombre_Municipio_Def,Nombre_Departamento_Res,Nombre_Municipio_Res,sitio_def,año_def,mes_def,sexo,estado_civil,grupo_edad,nivel_edu,seg_social,asistencia_med,causa_basica,Fecha
0,Andina,ANTIOQUIA,MEDELLÍN,ANTIOQUIA,MEDELLÍN,Casa,2009,1,Femenino,"Unión Libre, Divorciado/Otro",40-54 años,Secundaria,Subsidiado,SI,Parte no especificada,2009-01
1,Andina,ANTIOQUIA,MEDELLÍN,ANTIOQUIA,MEDELLÍN,Casa,2009,1,Femenino,Viudo,65-74 años,Primaria,Contributivo,SI,Parte no especificada,2009-01
2,Andina,ANTIOQUIA,MEDELLÍN,ANTIOQUIA,SABANETA,Hospital o Clínica,2009,1,Femenino,Casado,40-54 años,Secundaria,Contributivo,SI,Parte no especificada,2009-01
3,Andina,ANTIOQUIA,MEDELLÍN,ANTIOQUIA,BELLO,Hospital o Clínica,2009,1,Femenino,Casado,40-54 años,Secundaria,Contributivo,SI,Parte no especificada,2009-01
4,Andina,ANTIOQUIA,MEDELLÍN,ANTIOQUIA,MEDELLÍN,Casa,2009,1,Femenino,"Unión Libre, Divorciado/Otro",40-54 años,Secundaria,Contributivo,SI,Parte no especificada,2009-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41605,Pacífica,VALLE DEL CAUCA,CALI,VALLE DEL CAUCA,CALI,Hospital o Clínica,2023,1,Femenino,Soltero,55-64 años,No especificado,Contributivo,SI,Parte no especificada,2023-01
41606,Pacífica,VALLE DEL CAUCA,CALI,VALLE DEL CAUCA,CALI,Hospital o Clínica,2023,1,Femenino,"Unión Libre, Divorciado/Otro",55-64 años,No especificado,Contributivo,SI,Parte no especificada,2023-01
41607,Pacífica,VALLE DEL CAUCA,CALI,VALLE DEL CAUCA,CALI,Hospital o Clínica,2023,12,Femenino,Soltero,55-64 años,No especificado,Contributivo,SI,Parte no especificada,2023-12
41608,Andina,ANTIOQUIA,MEDELLÍN,ANTIOQUIA,MEDELLÍN,Otro Sitio,2023,12,Femenino,Viudo,75+ años,Primaria,Contributivo,SI,Parte no especificada,2023-12
41609,Andina,CUNDINAMARCA,FACATATIVÁ,CUNDINAMARCA,BOGOTA DC,Hospital o Clínica,2023,11,Femenino,Viudo,65-74 años,Secundaria,Contributivo,SI,Parte no especificada,2023-11

In [96]:
data.loc[data['Nombre_Departamento_Res'] == 'BOGOTA DC', 'Nombre_Departamento_Res'] = 'CUNDINAMARCA'

In [97]:
data['Nombre_Departamento_Res'].unique()

array(['ANTIOQUIA', 'CHOCÓ', 'ATLÁNTICO', 'CUNDINAMARCA', 'TOLIMA',
       'BOYACÁ', 'BOLÍVAR', 'CALDAS', 'CAQUETÁ', 'CAUCA', 'CESAR',
       'CÓRDOBA', 'HUILA', 'LA GUAJIRA', 'MAGDALENA', 'META', 'NARIÑO',
       'NORTE DE SANTANDER', 'QUINDIO', 'RISARALDA', 'SANTANDER', 'SUCRE',
       'VALLE DEL CAUCA', 'CASANARE',
       'ARCHIPIÉLAGO DE SAN ANDRÉS Y PROVIDENCIA Y SANTA CATALINA',
       'ARAUCA', 'PUTUMAYO', 'GUAVIARE', 'AMAZONAS', 'VICHADA', 'GUAINÍA',
       'VAUPÉS'], dtype=object)

In [ ]:
# data.query("Nombre_Municipio_Res.str.startswith('BOGOTA')", engine='python')

,region_Def,Nombre_Departamento_Def,Nombre_Municipio_Def,Nombre_Departamento_Res,Nombre_Municipio_Res,sitio_def,año_def,mes_def,sexo,estado_civil,grupo_edad,nivel_edu,seg_social,asistencia_med,causa_basica,Fecha
40,Andina,BOGOTA DC,BOGOTA DC,CUNDINAMARCA,BOGOTA DC,Casa,2009,1,Femenino,Viudo,75+ años,Primaria,Subsidiado,SI,Parte no especificada,2009-01
41,Andina,BOGOTA DC,BOGOTA DC,CUNDINAMARCA,BOGOTA DC,Casa,2009,1,Femenino,"Unión Libre, Divorciado/Otro",65-74 años,Primaria,Contributivo,SI,Parte no especificada,2009-01
43,Andina,BOGOTA DC,BOGOTA DC,CUNDINAMARCA,BOGOTA DC,Hospital o Clínica,2009,1,Femenino,"Unión Libre, Divorciado/Otro",40-54 años,Superior,Contributivo,SI,Parte no especificada,2009-01
44,Andina,BOGOTA DC,BOGOTA DC,CUNDINAMARCA,BOGOTA DC,Hospital o Clínica,2009,1,Femenino,Casado,55-64 años,Primaria,Contributivo,SI,Parte no especificada,2009-01
45,Andina,BOGOTA DC,BOGOTA DC,CUNDINAMARCA,BOGOTA DC,Hospital o Clínica,2009,1,Femenino,Viudo,75+ años,Primaria,Contributivo,SI,Parte no especificada,2009-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41590,Andina,BOGOTA DC,BOGOTA DC,CUNDINAMARCA,BOGOTA DC,Hospital o Clínica,2023,7,Femenino,Soltero,40-54 años,Secundaria,Contributivo,SI,Parte no especificada,2023-07
41594,Andina,BOGOTA DC,BOGOTA DC,CUNDINAMARCA,BOGOTA DC,Hospital o Clínica,2023,1,Femenino,"Unión Libre, Divorciado/Otro",75+ años,No especificado,Contributivo,SI,Parte no especificada,2023-01
41595,Andina,BOGOTA DC,BOGOTA DC,CUNDINAMARCA,BOGOTA DC,Hospital o Clínica,2023,1,Femenino,Casado,55-64 años,No especificado,Contributivo,SI,Parte no especificada,2023-01
41599,Orinoquía,META,PUERTO LÓPEZ,CUNDINAMARCA,BOGOTA DC,Hospital o Clínica,2023,11,Femenino,Casado,75+ años,Superior,Contributivo,SI,Parte no especificada,2023-11
41609,Andina,CUNDINAMARCA,FACATATIVÁ,CUNDINAMARCA,BOGOTA DC,Hospital o Clínica,2023,11,Femenino,Viudo,65-74 años,Secundaria,Contributivo,SI,Parte no especificada,2023-11

In [98]:
muertes_municipio = data.groupby(['Nombre_Departamento_Res', 'Nombre_Municipio_Res', 'año_def']).size()
muertes_municipio

Nombre_Departamento_Res  Nombre_Municipio_Res  año_def
AMAZONAS                 LA PEDRERA            2014       1
                         LETICIA               2009       1
                                               2011       1
                                               2013       1
                                               2015       3
                                                         ..
VICHADA                  PUERTO CARREÑO        2017       1
                                               2020       1
                                               2021       2
                                               2023       2
                         SANTA ROSALÍA         2011       1
Length: 5307, dtype: int64

In [99]:
muertes_municipio_df = muertes_municipio.reset_index(name='conteo_muertes')
muertes_municipio_df

     Nombre_Departamento_Res Nombre_Municipio_Res  año_def  conteo_muertes
0                   AMAZONAS           LA PEDRERA     2014               1
1                   AMAZONAS              LETICIA     2009               1
2                   AMAZONAS              LETICIA     2011               1
3                   AMAZONAS              LETICIA     2013               1
4                   AMAZONAS              LETICIA     2015               3
...                      ...                  ...      ...             ...
5302                 VICHADA       PUERTO CARREÑO     2017               1
5303                 VICHADA       PUERTO CARREÑO     2020               1
5304                 VICHADA       PUERTO CARREÑO     2021               2
5305                 VICHADA       PUERTO CARREÑO     2023               2
5306                 VICHADA        SANTA ROSALÍA     2011               1

[5307 rows x 4 columns]

In [100]:
gj_info = pd.read_excel('metadata_mun_col.xlsx')
gj_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1121 entries, 0 to 1120
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   MpCodigo  1121 non-null   int64
 1   MpNombre  1121 non-null   object
 2   Depto     1121 non-null   object
 3   geometry  1121 non-null   object
dtypes: int64(1), object(3)
memory usage: 35.2+ KB

In [101]:
municipios_completos = gj_info[['MpNombre', 'Depto']].copy()
municipios_completos

           MpNombre         Depto
0       LA CHORRERA      AMAZONAS
1         SANTANDER      AMAZONAS
2     MIRITÍ-PARANÁ      AMAZONAS
3       LA VICTORIA      AMAZONAS
4            POTOSÍ        NARIÑO
...             ...           ...
1116      LA CALERA  CUNDINAMARCA
1117      BOGOTA DC  CUNDINAMARCA
1118           COTA  CUNDINAMARCA
1119           CHÍA  CUNDINAMARCA
1120           SOPÓ  CUNDINAMARCA

[1121 rows x 2 columns]

In [102]:
municipios_completos.query("Depto == 'VALLE DEL CAUCA' and  MpNombre == 'BUGA'")

Empty DataFrame
Columns: [MpNombre, Depto]
Index: []

In [103]:

municipios_completos = gj_info[['MpNombre', 'Depto']].copy()

municipios_completos = municipios_completos.drop_duplicates()

años = pd.DataFrame({'Año': list(range(2009, 2024))})

municipios_expandidos = municipios_completos.merge(años, how='cross')

municipios_expandidos['Fallecidas'] = 0

municipios_expandidos

          MpNombre         Depto   Año  Fallecidas
0      LA CHORRERA      AMAZONAS  2009           0
1      LA CHORRERA      AMAZONAS  2010           0
2      LA CHORRERA      AMAZONAS  2011           0
3      LA CHORRERA      AMAZONAS  2012           0
4      LA CHORRERA      AMAZONAS  2013           0
...            ...           ...   ...         ...
16810         SOPÓ  CUNDINAMARCA  2019           0
16811         SOPÓ  CUNDINAMARCA  2020           0
16812         SOPÓ  CUNDINAMARCA  2021           0
16813         SOPÓ  CUNDINAMARCA  2022           0
16814         SOPÓ  CUNDINAMARCA  2023           0

[16815 rows x 4 columns]

In [104]:
muertes_municipio_df.query("Nombre_Departamento_Res == 'VALLE DEL CAUCA' and  Nombre_Municipio_Res == 'GUADALAJARA DE BUGA'")

     Nombre_Departamento_Res Nombre_Municipio_Res  año_def  conteo_muertes
5115         VALLE DEL CAUCA  GUADALAJARA DE BUGA     2009              10
5116         VALLE DEL CAUCA  GUADALAJARA DE BUGA     2010              11
5117         VALLE DEL CAUCA  GUADALAJARA DE BUGA     2011               6
5118         VALLE DEL CAUCA  GUADALAJARA DE BUGA     2012              10
5119         VALLE DEL CAUCA  GUADALAJARA DE BUGA     2013              13
5120         VALLE DEL CAUCA  GUADALAJARA DE BUGA     2014               9
5121         VALLE DEL CAUCA  GUADALAJARA DE BUGA     2015              12
5122         VALLE DEL CAUCA  GUADALAJARA DE BUGA     2016              13
5123         VALLE DEL CAUCA  GUADALAJARA DE BUGA     2017              10
5124         VALLE DEL CAUCA  GUADALAJARA DE BUGA     2018               8
5125         VALLE DEL CAUCA  GUADALAJARA DE BUGA     2019               9
5126         VALLE DEL CAUCA  GUADALAJARA DE BUGA     2020               8

In [105]:
municipios_join = municipios_expandidos.merge(
    muertes_municipio_df,
    left_on=['Depto', 'MpNombre', 'Año'],
    right_on=['Nombre_Departamento_Res', 'Nombre_Municipio_Res', 'año_def'],
    how='left'
)
municipios_join

,MpNombre,Depto,Año,Fallecidas,Nombre_Departamento_Res,Nombre_Municipio_Res,año_def,conteo_muertes
0,LA CHORRERA,AMAZONAS,2009,0,NaN,NaN,NaN,NaN
1,LA CHORRERA,AMAZONAS,2010,0,NaN,NaN,NaN,NaN
2,LA CHORRERA,AMAZONAS,2011,0,NaN,NaN,NaN,NaN
3,LA CHORRERA,AMAZONAS,2012,0,NaN,NaN,NaN,NaN
4,LA CHORRERA,AMAZONAS,2013,0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
16810,SOPÓ,CUNDINAMARCA,2019,0,CUNDINAMARCA,SOPÓ,2019.0,1.0
16811,SOPÓ,CUNDINAMARCA,2020,0,CUNDINAMARCA,SOPÓ,2020.0,2.0
16812,SOPÓ,CUNDINAMARCA,2021,0,NaN,NaN,NaN,NaN
16813,SOPÓ,CUNDINAMARCA,2022,0,NaN,NaN,NaN,NaN
16814,SOPÓ,CUNDINAMARCA,2023,0,NaN,NaN,NaN,NaN

In [106]:
muertes_mun_f = municipios_join.copy()

In [107]:
muertes_mun_f['conteo_muertes'] = muertes_mun_f['conteo_muertes'].fillna(0)

In [108]:
muertes_mun_f['Total_Fallecidas'] = muertes_mun_f['Fallecidas'] + muertes_mun_f['conteo_muertes']

In [128]:
# muertes_mun_f = muertes_mun_f[['MpNombre', 'Depto', 'Año', 'Total_Fallecidas']]
# muertes_mun_f = muertes_mun_f.rename(columns={'Año': 'Anio'})
muertes_mun_f

          MpNombre         Depto  Anio  Total_Fallecidas
0      LA CHORRERA      AMAZONAS  2009               0.0
1      LA CHORRERA      AMAZONAS  2010               0.0
2      LA CHORRERA      AMAZONAS  2011               0.0
3      LA CHORRERA      AMAZONAS  2012               0.0
4      LA CHORRERA      AMAZONAS  2013               0.0
...            ...           ...   ...               ...
16810         SOPÓ  CUNDINAMARCA  2019               1.0
16811         SOPÓ  CUNDINAMARCA  2020               2.0
16812         SOPÓ  CUNDINAMARCA  2021               0.0
16813         SOPÓ  CUNDINAMARCA  2022               0.0
16814         SOPÓ  CUNDINAMARCA  2023               0.0

[16815 rows x 4 columns]

In [138]:
muertes_mun_f.query(" Depto	 == 'AMAZONAS' and MpNombre == 'EL ENCANTO' ")

         MpNombre     Depto  Anio  Total_Fallecidas
15660  EL ENCANTO  AMAZONAS  2009               0.0
15661  EL ENCANTO  AMAZONAS  2010               0.0
15662  EL ENCANTO  AMAZONAS  2011               0.0
15663  EL ENCANTO  AMAZONAS  2012               0.0
15664  EL ENCANTO  AMAZONAS  2013               0.0
15665  EL ENCANTO  AMAZONAS  2014               0.0
15666  EL ENCANTO  AMAZONAS  2015               0.0
15667  EL ENCANTO  AMAZONAS  2016               0.0
15668  EL ENCANTO  AMAZONAS  2017               0.0
15669  EL ENCANTO  AMAZONAS  2018               0.0
15670  EL ENCANTO  AMAZONAS  2019               0.0
15671  EL ENCANTO  AMAZONAS  2020               0.0
15672  EL ENCANTO  AMAZONAS  2021               0.0
15673  EL ENCANTO  AMAZONAS  2022               0.0
15674  EL ENCANTO  AMAZONAS  2023               0.0

In [132]:
muertes_mun_f.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16815 entries, 0 to 16814
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   MpNombre          16815 non-null  object
 1   Depto             16815 non-null  object
 2   Anio              16815 non-null  int64
 3   Total_Fallecidas  16815 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 525.6+ KB

In [125]:
muertes_mun_f.to_excel('MUERTES-CANMAMA-M40-MUN-COL.xlsx',index=False)

In [124]:
muertes_mun_f.query('Total_Fallecidas > 0')

             MpNombre         Depto  Anio  Total_Fallecidas
60             POTOSÍ        NARIÑO  2009               1.0
66             POTOSÍ        NARIÑO  2015               1.0
70             POTOSÍ        NARIÑO  2019               1.0
71             POTOSÍ        NARIÑO  2020               1.0
83     PUERTO CAICEDO      PUTUMAYO  2017               1.0
...               ...           ...   ...               ...
16807            SOPÓ  CUNDINAMARCA  2016               2.0
16808            SOPÓ  CUNDINAMARCA  2017               1.0
16809            SOPÓ  CUNDINAMARCA  2018               3.0
16810            SOPÓ  CUNDINAMARCA  2019               1.0
16811            SOPÓ  CUNDINAMARCA  2020               2.0

[5307 rows x 4 columns]

In [110]:
muertes_mun_f.query("Depto == 'VALLE DEL CAUCA' and  MpNombre == 'GUADALAJARA DE BUGA'")

                 MpNombre            Depto  Anio  Total_Fallecidas
3105  GUADALAJARA DE BUGA  VALLE DEL CAUCA  2009              10.0
3106  GUADALAJARA DE BUGA  VALLE DEL CAUCA  2010              11.0
3107  GUADALAJARA DE BUGA  VALLE DEL CAUCA  2011               6.0
3108  GUADALAJARA DE BUGA  VALLE DEL CAUCA  2012              10.0
3109  GUADALAJARA DE BUGA  VALLE DEL CAUCA  2013              13.0
3110  GUADALAJARA DE BUGA  VALLE DEL CAUCA  2014               9.0
3111  GUADALAJARA DE BUGA  VALLE DEL CAUCA  2015              12.0
3112  GUADALAJARA DE BUGA  VALLE DEL CAUCA  2016              13.0
3113  GUADALAJARA DE BUGA  VALLE DEL CAUCA  2017              10.0
3114  GUADALAJARA DE BUGA  VALLE DEL CAUCA  2018               8.0
3115  GUADALAJARA DE BUGA  VALLE DEL CAUCA  2019               9.0
3116  GUADALAJARA DE BUGA  VALLE DEL CAUCA  2020               8.0
3117  GUADALAJARA DE BUGA  VALLE DEL CAUCA  2021               0.0
3118  GUADALAJARA DE BUGA  VALLE DEL CAUCA  2022               0.0
3119  GUADALAJARA DE BUGA  VALLE DEL CAUCA  2023               0.0

In [111]:
# Filtrar las filas con Total_Fallecidas > 0
muertes_mun_f_pos = muertes_mun_f.query('Total_Fallecidas > 0')

# Hacer merge para encontrar diferencias
diferencia = muertes_municipio_df.merge(
    muertes_mun_f_pos,
    left_on=['Nombre_Municipio_Res', 'Nombre_Departamento_Res', 'año_def'],
    right_on=['MpNombre', 'Depto', 'Anio'],
    how='left',
    indicator=True
)

# Filtrar las filas que están solo en muertes_municipio_df
solo_en_muertes_municipio_df = diferencia[diferencia['_merge'] == 'left_only']

# Resultado final sin columnas auxiliares del merge
solo_en_muertes_municipio_df = solo_en_muertes_municipio_df[muertes_municipio_df.columns]
solo_en_muertes_municipio_df

Empty DataFrame
Columns: [Nombre_Departamento_Res, Nombre_Municipio_Res, año_def, conteo_muertes]
Index: []

In [ ]:
# correciones = solo_en_muertes_municipio_df[['Nombre_Departamento_Res', 'Nombre_Municipio_Res']].drop_duplicates()
# correciones.shape

(0, 2)

In [ ]:
# correciones.to_excel('correciones_municipios.xlsx', index=False)